/*Marge site et police*/
main, header {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body {
    margin-top: 0;
}

/*Section menu*/

/* Menu pour écran */
.screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 5em;
}
.screen nav {
    min-width: 480px;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
}
nav li {
    display: flex;
    width: 10em;
    justify-content: center;
    align-items: center;
    border-top: 2px solid transparent;
    padding: 3em 0 0 0;
}
nav li:hover {
    border-top: solid 2px #0065FC;
}
nav li:hover>* {
    color: #0065FC;
}
nav a {
    text-decoration: none;
    color: black;
    border-top: 2px solid transparent;
}
.screen li.sinscrire {
    font-weight: bold;
    justify-content: center;
    border-top: 2px solid transparent;
}
.imgreservia:hover, .sinscrire:hover {
    border: none
}

/* Menu pour mobile */
body {
    min-width: 375px;
}
.mobile {
    display: none;
}
nav ul {
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.mheberg, .mactiv {
    width: 50%;
    border-bottom: solid 0.2em #F2F2F2;
    padding-bottom: 1em
}
.mheberg:hover, .mactiv:hover {
    border-top: none;
    border-bottom: solid 0.2em #0065FC;
    padding-bottom: 1em;
}
.imgreservia {
    justify-content: left;
    border-top: none
}
.sinscrire {
    justify-content: right;
}

/* Section contenant slogan, moteur de recherche, filtre, logo phrase info*/

/* Slogan */
.boxslogan {
    display: flex;
    flex-direction: column;
    width: 90%;
}
.texteslogan1 {
    font-weight: bolder;
    margin-bottom: 0;
}
.texteslogan2 {
    line-height: 0px;
    font-size: 0.9em;
}

/* Moteur de recherche (MDR) */
.boxmdr {
    display: flex;
    height: 2.8em;
    margin: 0.8em 0 0 0;
}
.gps {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 2.8em;
    width: 2.8em;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
}
.recherche {
    width: 14em;
    padding-left: 1em;
    border: solid 2px #F2F2F2;
    font-family: raleway;
    font-size: 1em;
}
::placeholder {
    color: black;
    font-weight: bold;
    opacity: 1;
}
.submit {
    width: 8em;
    border-radius: 0px 15px 15px 0px;
    color: #ffffff;
    border-color: #0065FC;
    background-color: #0065FC;
    font-weight: bold;
    font-size: 1em;
}
.submit:hover {
    border-color: #F2F2F2;
}
.submit2 {
    display: none;
    position: relative;
    right: 10px;
    padding: 0.8em;
    border-radius: 14px;
    color: #ffffff;
    border-color: #0065FC;
    background-color: #0065FC;
    font-weight: bold;
    font-size: 1em;
}

/*Filtres*/
.boxmainfiltre {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1em;
    gap: 1em
}
ul.boxsmainfiltre {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    gap: 1em;
    list-style: none;
}
li.boxfiltre {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    border: solid #F2F2F2;
}
.titrefiltre {
    font-weight: bolder;
    margin: 0 1em 0 0;
}
.textefiltre {
    margin: 0 1em 0 1em;
    text-decoration: none;
    color: black;
    font-weight: bolder;
}
.logofiltre {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 3em;
    height: 3em;
    margin: -2.5px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #DEEBFF;
}

/* Hover */
.boxfiltre:hover>.logofiltre {
    background-color: #0065FC;
    color: white;
}
.boxfiltre:hover>.textefiltre {
    color: #0065FC;
}
.boxfiltre:hover {
    border-color: #0065FC;
    box-shadow: 0px 0px 10px 4px #eaeef5;
}

/*Logo info + phrase*/
.info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 3em;
    margin-bottom: 1em;
}
.imginfo {
    align-items: center;
    justify-content: center;
    color: #0065FC;
    background-color: white;
    border-radius: 50%;
}
.logoinfo {
    font-size: 0.6em;
    padding: 0.4em 0.8em 0.4em 0.8em;
    border: solid 0.2em #F2F2F2;
    border-radius: 50%;
    margin-right: 1em;
}
.phraseinfo {
    font-size: 0.9em;
    width: 80%;
}

/*Flex Hébergements à Marseille (HAM) + Les Plus Populaires (LPP) */
#boxhamlpp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1em;
}

/*Etoile notation*/
.fa {
    width: 4px;
    margin-right: 5px;
    font-size: 10px;
}
.blue {
    color: #0065FC;
}
.grey {
    color: #65656531;
}

/*Hébergements à Marseille*/

.titreham {
    font-weight: bold;
}
#boxmainham {
    padding: 1em 2em 2em 2em;
    border-radius: 15px;
    background-color: #F2F2F2;
    max-width: 43em;
    justify-content: center;
}
ul.boxsmham {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.boxsmham>li {
    width: 200px;
    height: 155px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgb(206, 205, 205);
}
.imgham {
    width: 194px;
    height: 90px;
    padding: 3px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.boxsham {
    margin: 8px;
    font-size: 1em;
    line-height: 3px;
}
.textsb1 {
    margin-top: 0px;
    font-weight: bold;
    font-size: 0.7em;
}
.textsb2 {
    font-size: 0.7em;
}
.afficherplus {
    display: flex;
    font-weight: bold;
    font-size: smaller;
    margin-top: 4em;
}

/*Les plus populaires*/

.titrelogolpp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
#boxmainlpp {
    padding: 1em 2em 2em 2em;
    width: 18.5em;
    border-radius: 15px;
    background-color: #F2F2F2;
}
ul.boxlpp {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    gap: 2em;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.boxlpp>li {
    display: flex;
    width: 300px;
    height: 120px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 4px rgb(206, 205, 205);
}
.boxslpp {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1em;
}

.imglpp {
    padding: 0.2em;
    width: 110px;
    height: 113px;
    border-radius: 15px 0px 0px 15px;
    object-fit: cover;
}
.textsblpp1 {
    margin: 0;
    font-size: 0.7em;
    font-weight: bold;
}
.textsblpp2 {
    font-size: x-small;
}

/*Box Activités à Marseille*/
#boxmainaam {
    margin-top: 3em;
    flex-wrap: wrap;
}
.titreaam {
    font-weight: bolder;
    font-size: 1em;
}
.boxaam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    gap:2em
}
.boxsaam {
    box-shadow: 0px 0px 10px 4px rgba(224, 224, 224, 0.651);
    border-radius: 15px;
}
.boxsaam1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.img1aam {
    width: 260px;
    height: 340px;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}
.img2aam {
    width: 260px;
    height: 160px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.img3aam {
    width: 260px;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
    object-fit: cover;
}
.stitreaam {
    margin-left: 0.8em;
    font-weight: bold;
    font-size: 0.8em;
}

/*Pied de page*/
footer {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin:0 auto;
    padding: 2em 2em 1em;
    gap: 2em;
    margin-top: 3em;
    background-color: #F2F2F2;
    font-family: 'Raleway', sans-serif;
}
.boxpdp {
    display: flex;
    flex-direction: column;
    margin-right: 10em;
}
.titrepdp {
    font-weight: bold;
    margin-bottom: 0.5em;
}
.stitrepdp {
    line-height: 1em;
}


/* Responsive mobile*/

@media screen and (max-width:801px) {
    body {
        margin: 0 auto;
    }
    
    /* Menu */
    .screen {
        display: none;
    }
    .mobile {
        display: flex;
    }
    li.sinscrire, li.imgreservia {
        font-weight: bold;
        width: 45%;
    }
    nav, nav ul {
       width: 100%; 
    }

    /* Section Choix */
        .sectionchoix{
           margin:1em
        }

    /* Moteur de recherche */
    .boxmdr {
        justify-content: center;
        margin-bottom: 2em;
    }
    .submit {
        display: none;
    }
    .submit2 {
        display: flex;
    }
   
    /* Box HAM, LPP */
    #boxhamlpp{
        flex-wrap: wrap-reverse;
        justify-content: center;
        margin: 1em;
    }
    #boxmainlpp {
        flex-wrap: wrap-reverse;
        width: 100%;
        margin: 0 auto;
        padding:0;
        border-radius: 0;
    }
    #boxmainham{
        background-color: white;
        padding:0;
    }
    .titrelogolpp{
        margin:1em
    }
    ul.boxsmham, ul.boxlpp{
        gap:1em;
        margin-bottom:2em; 
    }
    ul.boxlpp>li, ul.boxsmham>li{
        min-width: 50%;
    }
    .imgham{
        width: 98%;
    }
    ul.boxsmham > li{
        width: 330px;
    }
    .afficherplus{
        margin-top:2em
    }

    /* AAM */
    #boxmainaam{
        margin:1em;
    }
    .boxaam{
        justify-content: center;
        gap:1em
    }
    .boxsaam{
        width: 330px;
        height: 200px;
        gap:1em;
    }
    .boxsaam1{
        gap:1em
    }
    .img1aam, .img2aam, .img3aam{
        border-radius: 15px 15px 0 0;
        width: 324px;
        height: 150px;
        padding:0.2em;
    }

    /* PDP */
    .boxpdp{
        margin-right:1em
    }
}